$gauges-min-width: 685px;
$news-move-to-side: 700px;

.expertShowPage-summaryGaugesContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: $max-width-of-content) {
    flex-direction: row;
    align-items: flex-start;
  }
}

  .expertShowPage-summaryGaugesContainer-summary {
    @media (min-width: $max-width-of-content) {
      width: $max-width-of-content - $gauges-min-width;
    }
  }

  .expertShowPage-summaryGaugesContainer-gauges {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }

.expertShowPage-findingsSidebarContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: $news-move-to-side) {
    flex-direction: row;
  }
}

  .expertShowPage-findingsSidebarContainer-sidebar {
    @media (min-width: $news-move-to-side) {
      margin-left: 20px;
      min-width: 35%;
    }
  }
