$widthHomepageIntroHorizontal: 800px;

.homepage-intro {
  display: flex;
  flex-direction: column;

  @media (min-width: $widthHomepageIntroHorizontal) {
    flex-direction: row;
    align-items: center;
  }
}

.homepage-introText {
  padding: 0 $padding-main-content;
  margin-top: 30px;
  max-width: 38rem;

  @media (min-width: $widthHomepageIntroHorizontal) {
    order: 2;
  }
}

  .heading.mod-homepage-primary {
    color: white;
    font-size: 4rem;
    line-height: 1.2;
  }

  .homepage-introText-divider {
    &:first-child:before {
      display: none;
    }

    &:before {
      content: " ";
      border: 1px solid white;
      margin-top: 15px;
      margin-bottom: 15px;
      display: block;
      max-width: 50%;
    }
  }

  .homepage-introText-subheading {
    font-size: 3rem;
    margin: 20px 0;
  }

.homepage-primaryGaugeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin-top: -45px;

  @media (min-width: $widthHomepageIntroHorizontal) {
    order: 1;
  }
}

.homepage-primaryGaugeDescription {
  margin: 0 auto;
  margin-top: -30px;
  font-size: 1.8rem;
  text-align: center;
  width: 18em;
}

$widthHorizontalContentSections: 800px;

.homePage-reformsIndicatorsContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: $widthHorizontalContentSections) {
    flex-direction: row;
    align-items: flex-start;
  }
}

  .homePage-reformsIndicatorsContainer-reforms {
    @media (min-width: $widthHorizontalContentSections) {
      max-width: 450px;
      margin-right: 20px;
    }
  }

.homePage-externalIndicator {
  padding: 10px $padding-main-content;
  border-bottom: 3px solid $color-grey-background;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePage-contentSectionLink {
  padding: 0 $padding-main-content;
  text-align: right;
}

.homePage-bigLinks {
  padding: $verticalPaddingHomepageBigLinks $padding-main-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $widthHomepageLinksSquare) {
    flex-direction: row;
  }

  @media (min-width: $widthHomepageLinksHorizontal) {
    padding-left: 0;
    padding-right: 0;
  }
}

  .homePage-bigLinks-pair {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (min-width: $widthHomepageLinksSquare) {
      &:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }

    @media(min-width: $widthHomepageLinksHorizontal) {
      flex-direction: row;
      margin-top: -1/2 * $outerHeightHomepageBigLinks;
      margin-right: 0;
    }
  }

  .homePage-bigLinks-item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $homepageLinkBackgroundColor;
    padding: 10px 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: $homepageLinkFillColor;
    height: $heightHomepageBigLink;

    &:not(.mod-last-item) {
      margin-bottom: 10px;

      @media (min-width: $widthHomepageLinksHorizontal) {
        margin-bottom: 0;
        margin-right: 10px;
      }
    }
  }

    .homePage-bigLinks-item-icon {
      fill: $homepageLinkFillColor;
      min-width: 60px;
      min-height: 60px;
      width: 60px;
      height: 60px;
    }

    .homePage-bigLinks-item-text {
      text-transform: uppercase;
      font-weight: 600;
    }

  .homePage-bigLinks-item:hover {
    background-color: $homepageLinkFillColor;
    color: $homepageLinkBackgroundColor;

    .homePage-bigLinks-item-icon {
      fill: $homepageLinkBackgroundColor;
    }
  }

// .homePage-expertHistoryChart {
//   height: 150px;
// }
//
// $width-homepage-whole-intro-horizontal: 1000px;
// $width-homepage-move-chart-summary-to-side: 500px;
//
//
// .homePage-intro {
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: column;
//   margin-top: 40px;
//   padding: 0 $padding-main-content 10px;
//   width: 100%;
//
//   @include center-and-limit-content-width();
//
//   @media (min-width: $width-homepage-whole-intro-horizontal) {
//     flex-direction: row;
//   }
// }
//
//   .homePage-intro-summaryGood {
//     list-style-image: image-url('thumb_up.svg');
//   }
//
//   .homePage-intro-summaryBad {
//     list-style-image: image-url('thumb_down.svg');
//   }
//
//   .homePage-intro-download {
//     text-align: right;
//
//     @media (min-width: $width-homepage-move-chart-summary-to-side) {
//       text-align: left;
//     }
//   }
//
//   .homePage-intro-chartSummaryContainer {
//     display: flex;
//     flex-direction: column;
//
//     @media (min-width: $width-homepage-move-chart-summary-to-side) {
//       flex-direction: row;
//     }
//   }
//
//     .homePage-intro-chartSummaryContainer-summary {
//       @media (min-width: $width-homepage-whole-intro-horizontal) {
//         text-align: right;
//       }
//     }
//
//       .homePage-intro-chartSummaryContainer-summary-link {
//         text-align: right;
//       }
//
// $width-homepage-move-government-to-side: 800px;
//
// .homePage-expertsGovtContainer {
//   display: flex;
//   flex-direction: column;
//
//   @media (min-width: $width-homepage-move-government-to-side) {
//     flex-direction: row;
//   }
//
//   @media (min-width: $width-content-overlap-top-image) {
//     margin-top: -1 * $height-content-heading;
//   }
// }
//
//   .homePage-expertsGovtContainer-experts {
//     width: 100%;
//   }
//
//   .homePage-expertsGovtContainer-government {
//     @media (min-width: $width-homepage-move-government-to-side) {
//       margin-left: 20px;
//       min-width: 40%;
//     }
//   }
//
// .homePage-reforms {}
//   .homePage-reforms-item {
//     border-bottom: 2px solid $color-grey-background;
//     box-sizing: border-box;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 5px $padding-main-content;
//   }
//
//     .homePage-reforms-item-label {
//       color: inherit;
//       text-decoration: none;
//       min-width: 100px;
//     }
//
//       .homePage-reforms-item-label-name {
//         // color: $color-brand;
//       }
//
//       .homePage-reforms-item-label-rating {
//         font-size: 2.5rem;
//         font-weight: 600;
//       }
//
//         .homePage-reforms-item-label-rating-score {
//           display: inline-block;
//         }
//
//         .homePage-reforms-item-label-rating-icon {
//           width: 2.5rem;
//           height: 2.5rem;
//           display: inline-block;
//         }
//
//     .homePage-reforms-item-chart {
//       height: 75px;
//       width: 100%;
//     }
//
//   .homePage-reforms-axisAndLink {
//     padding: 5px $padding-main-content;
//     text-align: right;
//   }
