.homePage-expertHistoryChart {
  height: 150px;
}

.homePage-reforms-item {
  border-bottom: 2px solid $color-grey-background;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 5px $padding-main-content;
}

  .homePage-reforms-item-label {
    min-width: 100px;
  }

  .homePage-reforms-item-chart {
    height: 75px;
    width: 100%;
  }

.homePage-intro {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 $padding-main-content;
  width: 100%;

  @include center-and-limit-content-width();

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

  .homePage-intro-chartSummaryContainer {
    display: flex;
    flex-direction: column;

    @media (min-width: 500px) {
      flex-direction: row;
    }
  }

$width-homepage-move-government-to-side: 800px;

.homePage-expertsGovtContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-homepage-move-government-to-side) {
    flex-direction: row;
  }

  @media (min-width: $width-content-overlap-top-image) {
    margin-top: -1 * $height-content-heading;
  }
}

  .homePage-expertsGovtContainer-experts {
    width: 100%;
  }

  .homePage-expertsGovtContainer-government {
    @media (min-width: $width-homepage-move-government-to-side) {
      margin-left: 20px;
      min-width: 35%;
    }
  }
