$widthHomepageIntroHorizontal: 600px;

.homepage-intro {
  @media (min-width: $widthHomepageIntroHorizontal) {
    @include center-and-limit-content-width();
    width: 100%;
  }
}

  .homepage-intro-container {
    display: flex;
    flex-direction: column;

    @media (min-width: $widthHomepageIntroHorizontal) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      min-width: 100%;
    }
  }

.homepage-introText {
  padding: 0 $padding-main-content;
  margin-top: 30px;
  max-width: 28rem;
  font-size: 2rem;

  @media (min-width: $widthHomepageIntroHorizontal) {
    order: 2;
  }

  @media (min-width: 700px) {
    max-width: 38rem;
    font-size: 2.6rem;
  }
}

  .heading.mod-homepage-primary {
    color: white;
    font-size: 1.53em;
    line-height: 1.2;
  }

  .homepage-introText-divider {
    &:first-child:before {
      display: none;
    }

    &:before {
      content: " ";
      border: 1px solid white;
      margin-top: 15px;
      margin-bottom: 15px;
      display: block;
      max-width: 50%;
    }
  }

  .homepage-introText-subheading {
    font-size: 1em;
    margin-top: 15px;
  }

.homepage-primaryGaugeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;

  @media (min-width: $widthHomepageIntroHorizontal) {
    width: 50%;
    max-width: 50%;
    order: 1;
  }
}

.homepage-primaryGaugeDescription {
  margin: 0 auto;
  margin-top: -40px;
  font-size: 1.8rem;
  text-align: center;
  width: 18em;
  max-width: 100%;
}

$widthHorizontalContentSections: 800px;

.heading.mod-homepage-contentSections {
  font-size: 2.17rem;
}

.homePage-reformsIndicatorsContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: $widthHorizontalContentSections) {
    flex-direction: row;
    align-items: flex-start;
  }
}

  .homePage-reformsIndicatorsContainer-reforms {
    @media (min-width: $widthHorizontalContentSections) {
      max-width: 450px;
      margin-right: 20px;
    }
  }

.homePage-externalIndicator {
  padding: 10px $padding-main-content;
  border-bottom: 3px solid $color-grey-background;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePage-contentSectionLink {
  padding: 0 $padding-main-content;
  text-align: right;
}

.homePage-bigLinks {
  padding: $verticalPaddingHomepageBigLinks $padding-main-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $widthHomepageLinksSquare) {
    flex-direction: row;
  }

  @media (min-width: $widthHomepageLinksHorizontal) {
    padding-left: 0;
    padding-right: 0;
  }
}

  .homePage-bigLinks-pair {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (min-width: $widthHomepageLinksSquare) {
      &:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }

    @media(min-width: $widthHomepageLinksHorizontal) {
      flex-direction: row;
      margin-top: -1/2 * $outerHeightHomepageBigLinks;
      margin-right: 0;
    }
  }

  .homePage-bigLinks-item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $homepageLinkBackgroundColor;
    padding: 10px 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: $homepageLinkFillColor;
    height: $heightHomepageBigLink;

    &:not(.mod-last-item) {
      margin-bottom: 10px;

      @media (min-width: $widthHomepageLinksHorizontal) {
        margin-bottom: 0;
        margin-right: 10px;
      }
    }
  }

    .homePage-bigLinks-item-icon {
      fill: $homepageLinkFillColor;
      min-width: 60px;
      min-height: 60px;
      width: 60px;
      height: 60px;
    }

      .homePage-bigLinks-item-icon.mod-experts {
        min-width: 53px;
        width: 53px;
        padding-right: 7px;
      }

    .homePage-bigLinks-item-text {
      text-transform: uppercase;
      font-weight: 600;
    }

  .homePage-bigLinks-item:hover {
    background-color: $homepageLinkFillColor;
    color: $homepageLinkBackgroundColor;

    .homePage-bigLinks-item-icon {
      fill: $homepageLinkBackgroundColor;
    }
  }
