<% model_class = Reform %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.reform', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @reform,
          index_path: admin_reforms_path
                }
  %>
</div>

<%= render partial: 'form' %>
