<aside>

  <h2 class='u-hide-visually'>
    Expert News
  </h2>

  <% @news.each do |news| %>

    <section class='contentSection'>

      <% if news.image.exists? %>

        <%= image_tag(
              news.image.url('360x200'),
              class: 'responsiveImage') %>

      <% end %>

      <header class='contentSection-header'>

        <h3 class='heading'>

          <%= link_to news.title,
                      news.url,
                      target: :blank,
                      class: 'link mod-no-decoration' %>

        </h3>

      </header>

      <div class='contentSection-body<%= ' mod-no-top-border' if news.image.exists? %>'>

        <%= simple_format_no_tags(news.content) %>

      </div>

    </section>

  <% end %>

</aside>
