<% model_class = Verdict %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.verdict', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @verdict,
          index_path: admin_verdicts_path
                }
  %>
</div>

<%= render partial: 'form' %>
