<% page_title t('.title') %>

<section>

  <p>
    ISET Policy Institute
  </p>

  <p>
    Address: 16, Zandukeli St, Tbilisi
  </p>

  <p>
    Email: reformeter@iset.ge
  </p>

  <p>
    Phone: (+995 32) 250 71 77
  </p>

  <p>
    Fax: (995 32) 299 86 44
  </p>

</section>
