.app-footer {
  width: 100%;
  background-color: #f8f8f8;
  color: #4f4f4f;

  display: flex;
  justify-content: space-between;
  max-width: $max-width-of-content;

  @include center-and-limit-content-width();
}
