.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  color: white;
  font-size: 1.6rem;

  @include center-and-limit-content-width();

  @media (min-width: $width-move-main-into-top-image) {
    height: 130px;
    padding: 0;
  }
}

  .app-header-brand {

  }

    .app-header-brand-subtext {
      margin: 0;
    }

  .app-header-nav-button {
    height: 30px;
    border: 0;
    background-color: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    @media (min-width: $width-show-navigation) {
      display: none;
    }
  }

    .app-header-nav-button-icon-bar {
      display: block;
      width: 23px;
      height: 1px;
      padding: 3px 0;
      border-radius: 1px;
      background-color: white;
      background-clip: content-box;
    }

  .app-header-navigation {
    display: flex;

    @media (min-width: $width-show-navigation) {
      flex-direction: row;
      justify-content: space-between;
      width: 600px;
    }
  }

    .app-header-navigation-item {
      list-style-type: none;
    }

  .app-header-navigation.is-hidden-on-mobile {
    @media (max-width: $width-show-navigation + 1) {
      display: none;
    }
  }
