.chartIndexes {
  display: flex;
  flex-flow: row wrap;
}

  .chartIndexes-item {
    list-style-type: none;
    border: 1px solid;
    padding: 5px 10px;
  }

    .chartIndexes-item-values {
      line-height: 1;
      margin: 0;
    }

      .chartIndexes-item-values-score {
        font-size: 3rem;
      }

      .chartIndexes-item-values-change {
        
      }
