.chartIndexes {
  display: flex;
  flex-flow: row wrap;
}

  .chartIndexes-item {
    list-style-type: none;
    border: 1px solid;
    padding: 5px 10px;
  }

    .chartIndexes-item-value {
      font-size: 3rem;
    }
