.downloadPage-description {
  margin: 30px 0;
}

.downloadPage-downloadBoxes-container {
  margin: 30px 0 5px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  @media (min-width: $max-width-of-content) {
    justify-content: space-between;
  }
}
