$download-chart-button-color: #ADB4D1;

.downloadChartsButton {
  height: 24px;
  width: 24px;
  fill: $download-chart-button-color;

  &:hover {
    fill: darken($download-chart-button-color, 10%);
  }
}
