.downloadBox {
  background-color: $color-grey-background;
  width: 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  margin-bottom: 20px;
}

  .downloadBox-heading {
    margin: 20px 0 0;
    text-align: center;
    color: black;
  }

  .downloadBox-description {
    margin: 0;
    text-align: center;
  }

  .downloadBox-selectContainer {
    margin-bottom: 20px;
    max-width: 100%;
  }

    .downloadBox-selectContainer .select2-container {
      max-width: 100%;
    }

    .downloadBox-selectContainer .select2-selection--single {
      height: 100%;
    }

    // using more classes to override select2 styles
    .downloadBox-selectContainer .select2-container .select2-selection--single .select2-selection__rendered{
      word-wrap: break-word;
      text-overflow: inherit;
      white-space: normal;
    }

  .downloadBox-button {
    border: none;
    font-size: 2.5rem;
    background-color: #00AEEF;
    border-radius: 3px;
    fill: white;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

    .downloadBox-button a {
      color: white;
      text-decoration: none;
    }
    .downloadBox-button svg {
      vertical-align: middle;
    }

  .downloadBox-button.mod-pdf {
    background-color: #EF4136;
  }
