$expert-image-size: 50px;

.expertList {
  padding: 0;
}

  .expertList-item {
    list-style-type: none;
    position: relative;
    padding-left: $expert-image-size;
  }

    .expertList-item-heading {
      color: #000;
      font-weight: 400;
      font-size: 2rem;
    }

    .expertList-item-image {
      position: absolute;
      left: 0;
      top: 0;
    }
