.gaugesContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

  .gaugesContainer-small {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .gaugesContainer-exportButton {
    position: absolute;
    top: 10px;
    right: 0;
    width: 24px;
    height: 24px;
  }

$widthMeterGaugesBecomeHorizontal: 639px;

.gaugesContainer.mod-meter-gauges {
  flex-direction: column;

  @media (min-width: $widthMeterGaugesBecomeHorizontal) {
    flex-direction: row;
  }

  .gaugesContainer-small {
    @media (min-width: $widthMeterGaugesBecomeHorizontal) {
      padding-top: 64px;
    }
  }
}

$widthSolidGaugesBecomeHorizontal: 800px;

.gaugesContainer.mod-solid-gauges {
  flex-direction: column;

  @media (min-width: $widthSolidGaugesBecomeHorizontal) {
    flex-direction: row;
  }

  .gaugesContainer-small {
    @media (min-width: $widthSolidGaugesBecomeHorizontal) {
      padding-top: 61px;
    }
  }
}
