.heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  color: #000;
  margin: 0;
}

  .heading-icon {
    vertical-align: bottom;
  }

  .heading.mod-vertical-margin {
    margin: 20px 0;
  }
