.headerControls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

  .headerControls-row:not(:last-child) {
    margin-bottom: 5px;
  }

    .headerControls-row-item.mod-left-padding {
      padding-left: 10px;
    }
