.heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  color: #000;
  margin: 0;
}

  .heading-iconTextContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .heading-icon {
    margin-right: 10px;
    min-width: 26px;
  }

  .heading-text {
  }

  .heading-coloredText {
    color: purple;
  }

.heading.mod-vertical-margin {
  margin: 20px 0;
}

.heading.mod-smaller-text {
  font-size: 1.8rem;
}
