.headerControlsRow {
}

  .headerControlsRow-item {
    margin-bottom: 3px;
    margin-top: 3px;
  }

  .headerControlsRow-item {
    display: inline-block;
    vertical-align: middle;
  }

  .headerControlsRow-item.mod-left-padding {
    padding-left: 10px;
  }
