.heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  color: #000;
  margin: 0;
}

  .heading-subheading {
    display: block;
    text-transform: none;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(102, 102, 109);
    margin: 0;
  }

  .heading-iconTextContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .heading-icon {
    margin-right: 10px;
    min-width: 26px;
    vertical-align: middle;
  }

  .heading-icon.mod-verdicts {
    max-width: 40px;
    max-height: 40px;
  }

  .heading-text {
    vertical-align: middle;
  }

  .heading-coloredText {
    color: purple;
  }

.heading.mod-top-margin {
  margin-top: 30px;
}

.heading.mod-smaller-text {
  font-size: 1.8rem;
}

.heading.mod-inherit-color {
  color: inherit;
}

.heading.mod-no-transform {
  text-transform: none;
}

.heading.mod-content-side-padding {
  padding-left: $padding-main-content;
  padding-right: $padding-main-content;
}
