$info-circle-font-size: 16px;

.infoCircle {
  background-color: $color-grey-background;
  font-size: $info-circle-font-size;
  width: $info-circle-font-size * 1.5;
  height: $info-circle-font-size * 1.5;
  border-radius: $info-circle-font-size * .75;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoCircle:hover {
  background-color: darken($color-grey-background, 25%);
}
