$loading-indicator-transform-fix-x: 97px;
$loading-indicator-transform-fix-y: 93px;

.loadingIndicator {
  display: flex;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: rgba(#FFF, 0.5);
  position: fixed;
}

  .loadingIndicator-image {
    z-index: 9999;
    margin: auto;
    width: 250px;
  }

    .loadingIndicator-image-dial-container {
      transform: translate($loading-indicator-transform-fix-x, $loading-indicator-transform-fix-y);
    }

    .loadingIndicator-image-dial {
      animation: rotation180 2s infinite alternate ease-in-out;
    }

    .loadingIndicator-image-dial path {
      transform-origin: 88% 50%;
      transform: translate(-1 * $loading-indicator-transform-fix-x, -1 * $loading-indicator-transform-fix-y);
    }

@keyframes rotation180 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
