/*
  Cross-browser SVG animation is rather tricky, because Chrome and Firefox
  put the transform-origin in different places by default. The translate
  transforms below fix this by moving the transform-origin to the pivot
  point of the loading indicator dial.

  Example: http://jsfiddle.net/4h3xL/1/
*/

$loading-indicator-transform-fix-x: 97px;
$loading-indicator-transform-fix-y: 93px;

.loadingIndicator {
  display: none;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: rgba(#FFF, 0.5);
  position: fixed;
}

  .loadingIndicator-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 250px;
    position: absolute;
  }

    .loadingIndicator-image-dial-container {
      transform: translate($loading-indicator-transform-fix-x, $loading-indicator-transform-fix-y);
    }

    .loadingIndicator-image-dial {
      animation: rotation180 2s infinite alternate ease-in-out;
    }

    .loadingIndicator-image-dial path {
      transform-origin: 88% 50%;
      transform: translate(-1 * $loading-indicator-transform-fix-x, -1 * $loading-indicator-transform-fix-y);
    }

@keyframes rotation180 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
