.loadingIndicator {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

  .loadingIndicator-image {
    position: fixed;
    width: $loadingIndicator-size;
    height: $loadingIndicator-size;
    left: 50%;
    top: 50%;
    margin-top: $loadingIndicator-size/-2;
    margin-left: $loadingIndicator-size/-2;
  }
