$homepage-meter-gauge-size: 400px;

.meterGauge.mod-small {
  height: 125px;
  width: 100px;
}

.meterGauge.mod-big {
  width: 250px;
  min-width: 250px;
  height: 220px;
  min-height: 220px;
}

.meterGauge.mod-homepage {
  width: $homepage-meter-gauge-size * 1.25;
  min-width: $homepage-meter-gauge-size * 1.25;
  height: $homepage-meter-gauge-size * 1.1;
  min-height: $homepage-meter-gauge-size * 1.1;

  path {
    stroke-width: 0;
  }
}
