.tabContent {
}

  .tabContent-panel {
    display: none;
  }

  .tabContent-panel.mod-content-padding {
    padding: 0 $padding-main-content;
  }

  .tabContent-panel.is-selected {
    display: block;
  }
