.tabList {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  background-color: #EDEDED;
  width: 100%;
}

  .tabList-item {
    list-style-type: none;
  }

    .tabList-item-button {
      box-sizing: border-box;
      border: 0;
      background: none;
      color: rgb(51, 51, 51);
      display: block;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.5rem;
      width: 100%;
      height: 100%;
      padding: 1em 1.1em;

      &:hover, & .heading:hover {
        color: $color-brand;
      }

      @media (min-width: $widthForTablistFontIncrease1) {
        font-size: 1.7rem;
        padding: 1em 1.2em;
      }

      @media (min-width: $widthForTablistFontIncrease2) {
        font-size: 2rem;
        padding: 1.1em $padding-main-content;
      }
    }

    .tabList-item-button.is-selected {
      background-color: #FFF;
      vertical-align: middle;
    }

.tabList.mod-dropdown-in-little-space {
  @media (max-width: 600px) {
    .tabList {
      background-color: inherit;
    }

      .tabList-item-button:not(.is-selected) {
        display: none;
      }
  }
}
