.top-image-container {
  background: url('bg_img_header.jpg') $color-grey-background no-repeat center/cover;
  height: 150px;

  @media (min-width: $width-move-main-into-top-image) {
    height: 130px + $height-content-heading;
  }
}
