.topImageContainer {
  background-image: image-url('bg_img_header.jpg');
  background-color: $color-grey-background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;

  @media (min-width: $width-content-overlap-top-image) {
    height: 130px + $height-content-heading;
  }
}

.topImageContainer.mod-homepage {
  background-image: image-url('bg_img_home.jpg');
  background-position: left top;
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  @media (min-width: $width-content-overlap-top-image) {
    padding-bottom: 30px + $height-content-heading;
  }
}
