@import 'bootstrap_and_overrides';

/* admin drop down menu */
.appHeader-nav li.dropdown > a{
  color: #fff;
}
.appHeader-nav li.dropdown > a:hover{
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* form styles */
fieldset.inputs .radio{
  margin-left: 25px;
}

.select2 .select2-selection{
  background-color: #fff;
}

.boolean-flag{
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  border-radius: 5px;
  &.boolean-flag-true{
    background-color: #6ad95d;
    color: #66666d;
  }
  &.boolean-flag-false{
    background-color: #d95d6a;
  }
}
