@font-face {
  font-family: 'AbsaraSans';
  src: url('AbsaraSans-Thin.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'AbsaraSans';
  src: url('AbsaraSans-Light.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'AbsaraSans';
  src: url('AbsaraSansTF-Bold') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'DejaVu Neue';
  src: url('DejaVu-Neue.ttf') format('truetype');
}

@font-face {
  font-family: 'DejaVu Neue';
  src: url('DejaVu-Neue-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'DejaVu Neue Caps';
  src: url('DejaVu-Neue-Caps.ttf') format('truetype');
}

@font-face {
  font-family: 'DejaVu Neue';
  src: url('DejaVu-Neue-Caps-Bold.ttf') format('truetype');
  font-weight: 600;
}
