@font-face {
  font-family: 'AbsaraSans';
  src: url('AbsaraSans-Light.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'AbsaraSans';
  src: url('AbsaraSansTF-Bold') format('opentype');
  font-weight: 600;
}
