// This file contains all the variables used in this project's scss files.

$loading-indicator-size: 125px;
$footer-height: 41px;

$width-show-navigation: 950px;
$max-width-of-content: 1000px;
$width-move-main-into-top-image: 1000px;
$height-content-heading: 80px;

$padding-main-content: 30px;

$color-grey-background: #f3f3f4;
