// This file contains all the variables used in this project's scss files.

$english-font-family: 'AbsaraSans', sans-serif;

$footer-height: 41px;

$width-show-navigation: 950px;
$max-width-of-content: 1000px;
$width-content-overlap-top-image: 1000px;
$height-content-heading: 80px;

$padding-main-content: 30px;

$color-grey-background: #f3f3f4;
$color-grey-text: #66666d;
$color-brand: #1599D6;
$color-button: #ADB4D1;

// home page
$widthHomepageLinksHorizontal: 900px;
$widthHomepageLinksSquare: 500px;
$homepageLinkFillColor: #1599D6;
$homepageLinkBackgroundColor: white;

$heightHomepageBigLink: 80px;
$verticalPaddingHomepageBigLinks: 20px;
// includes padding
$outerHeightHomepageBigLinks: $heightHomepageBigLink + (2 * $verticalPaddingHomepageBigLinks);


// Tablist - used in chartsTable media queries
$widthForTablistFontIncrease1: 425px;
$widthForTablistFontIncrease2: 525px;
