// This file contains all the variables used in this project's scss files.

$loading-indicator-size: 125px;
$footer-height: 41px;

$width-show-navigation: 800px;
$max-width-of-content: 1000px;

$padding-main-content: 30px;
