<% model_class = ReformSurvey %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.reform_survey', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          hide_object_name: true,
          object: Verdict.new,
          index_path: admin_verdicts_path(v: @verdict.slug),
          show_path: admin_verdict_reform_survey_path(verdict_id: @verdict.slug, id: @reform_survey),
                }
  %>
</div>

<%= render partial: 'form' %>
