<footer class='app-footer'>

  <p>
    Copyright &copy; <%= Time.now.year %>, International School of Economics at TSU
  </p>

  <p>
    Made by
    <%= link_to image_tag('jumpstart-logo.png'),
                'http://jumpstart.ge',
                target: '_blank',
                title: t('shared.common.jumpstart.slogan') %>
  </p>

</footer>
