<main class='mainContent'>

  <% if content_for?(:page_title) && (@do_not_use_default_page_layout.nil? || !@do_not_use_default_page_layout) %>

    <div class='contentSection mod-overlap-top-image'>

      <%= bootstrap_flash %>

      <header class='contentSection-header'>

        <h1 class='heading'>
          <%= yield(:page_title) %>
        </h1>

      </header>

      <div class='contentSection-body'>
        <%= yield %>
      </div>

    </div>

  <% else %>

    <%= yield %>

  <% end %>

</main>
