<main class='mainContent'>

  <%= bootstrap_flash %>

  <% if content_for? :page_title %>

    <div class='contentSection mod-overlap-top-image'>

      <header class='contentSection-header'>

        <h1 class='heading'>
          <%= yield(:page_title) %>
        </h1>

      </header>

      <div class='contentSection-body'>
        <%= yield %>
      </div>

    </div>

  <% else %>

    <%= yield %>

  <% end %>

</main>
