<main class='main-content'>

  <%= bootstrap_flash %>

  <% if content_for? :page_title %>
    <h1 class='main-content-header'>
      <%= yield(:page_title) %>
    </h1>
  <% end %>

  <div class='main-content-body'>
    <%= yield %>
  </div>

</main>
