<% model_class = ExternalIndicator %>
<% page_title t('.title', name: @external_indicator.title) %>

<div class='actions-container'>
  <%= render partial: 'shared/show_actions',
        locals: {
          object: @external_indicator,
          index_path: admin_external_indicators_path,
          show_path: admin_external_indicator_path(@external_indicator),
          edit_path: edit_admin_external_indicator_path(@external_indicator),
          extra: {title: t('shared.actions.manage_data'), path: data_admin_external_indicator_path(@external_indicator)}
                }
  %>
</div>


  <%= render(partial: 'shared/external_indicator_chart',
             locals: {
               external_indicator: @chart_data
             }) %>
